<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>abc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>anyltics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>calc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>webgou.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>wg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D10DE46315D8F90800024037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D12E13A915E36C66003CA8E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D19B4B4415F05F2400CA191F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1AD606715DDED6B00446BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1B1FB8315DDEA060043D2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1BB2D0815F0599C001FC668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
